@charset "UTF-8";

/* Todas as demais mídias*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768p;
    }
}