@charset "UTF-08";
body {
    background-color: #7FDBBB;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #167453;
}

h1#principal {
    text-align: center;
    background-color: #167453;
    color: white;
}

h2 {
    color: #338a6b;
}

.basico {
    color: #338a6b;
}

.intermediario {
    color: #7d8a33;
}

.avancado {
    color: #8a3333;
}

.destaque {
    background-color: #cccc5ea8;
}

p {
    text-align: justify;
}